body{
    background-color: slateblue;
    color: white;
    align-content: center;
    align-items: center;
    font-family: cursive;
    margin: 0;
    justify-content: center;
    
}
.main{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.top-para{
    align-content: center;
    font-size: 20px;
    letter-spacing: 4px;
}
.days{
    display: flex;
    flex-direction: row;
    background-color: blue;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card{
    padding-right: 15px;
    text-align: center;
    margin: 0;
    margin-top: -4px;
    margin-bottom: 5px;
}
.number{
    padding-left: 10px;
    font-size: 25px;
    margin-bottom: -17px;
    justify-content: center;
    text-align: center;
}
.bottom-para{
    justify-content: center;
    text-align: center;
    font-size: 14px;
}
.year{
    font-size: 50px;
    font-weight: bold;

}
.lower-section{
    background-color: rgb(74, 61, 158);
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
}




